<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/events.js"></script>
    <title>Test</title>
</head>

<body>

    <header>
        <a class="nav__links" href="/">
            <h1>Uni Auto</h1>
        </a>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">login</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/report">Report</a></li>

            </ul>
        </nav>
        <a class="cta" href="/contacts"><button>Contact</button></a>
    </header>

    <main>
        <div class="containerForm">
            <form id="form" action="/events/create" method="POST" autocomplete="off">
                <h2><strong>Create Event</strong></h2>
                <div class="input-control">
                    <label for="eventName"><strong>Name</strong></label>
                    <input id="eventName" name="eventName" type="text">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventLocation"><strong>Location</strong></label>
                    <input id="eventLocation" name="eventLocation" type="text">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventDate"><strong>Date</strong></label>
                    <input id="eventDate" name="eventDate" type="date">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventDescription"><strong>Description</strong></label>
                    <textarea rows="5" placeholder="Enter description" id="eventDescription" name="eventDescription"></textarea>
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="imageFile"><strong>Image file (Limit 10MB)</strong> </label>
                    <input id="imageFile" name="imageFile" type="file">
                    <div class="error"></div>
                </div>
                <button type="submit"><strong>Create</strong></button>

            </form>
        </div>

    </main>

</body>

</html>