<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" defer src="js/eventCreation.js"></script>
    <script defer src="js/Animation.js"></script>
    <title>University Events Manager</title>
</head>

<body>

    <header>
        <a class="nav__links_home" href="/">
            <h1 class="ani">University Events Manager</h1>

        </a>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">Login</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/report">Report</a></li>

            </ul>
        </nav>
        <a class="cta" href="/contacts"><button>Contact</button></a>

        <div class="hamburger-menu" style="background-color: transparent; width: 50px;">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span class="asad"></span>
            </label>

            <ul class="menu__box" style="height: 400px;">
                <li><a class="menu__item" href="/login">Login</a></li>
                <li><a class="menu__item" href="/events">Events</a></li>
                <li><a class="menu__item" href="/attendance">Attendance</a></li>
                <li><a class="menu__item" href="/report">Report</a></li>
                <li><a class="menu__item " href="/contacts"><button class="ext_btn">Contact</button></a></li>
            </ul>
        </div>
    </header>


    <div class="container hidden">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-xlg-12" style="position:relative; top: 35px;">
                <h2 class="text-center">Welcome Create Your Event</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-xlg-12" style="position:relative; top: 60px;">
                <div class="card text-center h-100" style="background-color: #32333a">
                    <div class="card-body">
                        <p class="card-text">
                            Bring your event ideas to life with our intuitive event creation tool. Our platform
                            simplifies the process of adding essential details, from naming your event to selecting a
                            location, uploading an eye-catching image, crafting a compelling description, and specifying
                            the event date Sign up today and discover the power of our event creation tool to organize
                            exceptional events that engage your university community.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <main class="hidden c2">
        <div class="containerForm" style="position:relative; top: 100px; padding-bottom: 50px;">
            <form id="form" action="/events/create" method="POST" autocomplete="off" enctype="multipart/form-data">
                <h2><strong>Create Event</strong></h2>
                <div class="input-control">
                    <label for="eventName"><strong>Name</strong></label>
                    <input id="eventName" name="eventName" type="text">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventLocation"><strong>Location</strong></label>
                    <input id="eventLocation" name="eventLocation" type="text">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="category"><strong>Category</strong></label>
                    <select id="category" name="category">
                        <option>Academic Lectures/Seminars</option>
                        <option>Art Exhibitions and Performances</option>
                        <option>Career Fairs and Networking</option>
                        <option>Cultural Festivals</option>
                        <option>Food/Drinks</option>
                        <option>Games/Gaming</option>
                        <option>Health and Wellness Programs</option>
                        <option>Social Gatherings and Parties</option>
                        <option>Sports</option>
                        <option>Student Club and Organization Meetings</option>
                    </select>
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventstartDate"><strong>Start Date</strong></label>
                    <input id="eventstartDate" name="eventstartDate" type="date">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventendDate"><strong>End Date</strong></label>
                    <input id="eventendDate" name="eventendDate" type="date">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="eventDescription"><strong>Description</strong></label>
                    <textarea rows="5" placeholder="Enter description" id="eventDescription"
                        name="eventDescription"></textarea>
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="imageFile"><strong>Image File (Limit 10MB)</strong> </label>
                    <input id="imageFile" name="imageFile" type="file">
                    <div class="error"></div>
                </div>
                <button type="submit"><strong>Create</strong></button>
            </form>
        </div>
    </main>

</body>

</html>