<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="js/Animation.js"></script>
    <title>Test</title>
</head>

<body>

    <header>
        <a class="nav__links" href="/">
            <h1 class="ani">Uni Auto</h1>
        </a>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">login</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/report">Report</a></li>

            </ul>
        </nav>
        <a class="cta" href="/contacts"><button>Contact</button></a>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-xlg-12 hidden" style="position:relative; top: 100px;">
                <h2 class="text-center">Welcome to the University Events List</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-xlg-12 hidden c1" style="position:relative; top: 100px;">
                <div class="card text-center h-100" style="background-color: #32333a">
                    <div class="card-body">
                        <p class="sm-view">
                            Explore our vast array of events, from academic seminars to extracurricular activities and
                            cultural events. Tailor your search to find events that pique your curiosity and register
                            effortlessly through our secure portal. Let the University Events Portal be your passport to
                            an enriching and engaging campus life.
                        </p>
                        <p class="lg-view">
                            Embark on a journey of discovery as you navigate through our comprehensive event listings.
                            Whether you're seeking academic seminars, extracurricular activities, or cultural events,
                            our platform seamlessly connects you to a world of possibilities. Simply browse through our
                            list of upcoming events and find the ones that resonate with your interests. Filter your
                            search based on your preferences and discover events that align with your passions. Once
                            you've found the perfect event, register effortlessly through our secure portal. We'll keep
                            you updated on any schedule changes or important announcements. Let the University Events
                            Portal be your guide to an enriching and engaging campus experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="hidden c2">
        <div class="table-responsive" style="position: relative; top: 100px;">
            <table class="table table-dark table-striped table-hover caption-top">
                <caption><strong>List of Events</strong></caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Swimming</td>
                        <td>Canada Water</td>
                        <td>No_Image</td>
                        <td>We will be swimming on the day</td>
                        <td>Join now</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>MiniGolf</td>
                        <td>Oxfrod-Street</td>
                        <td>No_Image</td>
                        <td>We will be MiniGolfing on the day</td>
                        <td>Join now</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Bar-Hopping</td>
                        <td>Angle</td>
                        <td>No_Image</td>
                        <td>We will be drink alot on the day</td>
                        <td>Join now</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>

</body>

</html>