<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="js/Animation.js"></script>
    <title>Test</title>
</head>

<body>

    <header>
        <a class="nav__links" href="/">
            <h1 class="ani">Uni Auto</h1>
        </a>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">login</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/report">Report</a></li>

            </ul>
        </nav>
        <a class="cta" href="/contacts"><button>Contact</button></a>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-center hidden">
                <div class="col-sm-12 col-md-12 col-xlg-12" style="position:relative; top: 100px;">
                    <h2 class="text-center">Welcome to the University Events Portal</h2>
                </div>
                <div class="col-sm-6 col-md-8 col-xlg-10" style="position:relative; top: 100px;">
                    <p class="text-center">Enhance your university's event management capabilities with our cloud-based
                        platform, designed to streamline event organization, registration, and attendance tracking for both
                        faculty and students.</p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center gy-3">
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c1" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Effortless Event Creation</h5>
                            <p class="card-text">Faculty members can effortlessly create and manage events, including
                                specifying event details, setting registration deadlines, and configuring event visibility.
                                A user-friendly interface ensures a smooth event creation process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c1" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Seamless Event Registration:</h5>
                            <p class="card-text">Students can easily register for events, view event details, and manage
                                their registrations through a user-friendly portal. The platform provides a streamlined
                                registration process, eliminating the hassle of paper-based forms and manual data entry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c2" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Comprehensive Event Visibility</h5>
                            <p class="card-text">Gain real-time insights into event attendance and registered users. View a
                                comprehensive list of registered attendees, track event participation, and analyze
                                registration trends to enhance event planning and decision-making.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c2" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Unified Event History</h5>
                            <p class="card-text">Access a comprehensive record of upcoming and past events. View event
                                details, attendance records, and registration information for past events, providing
                                valuable insights for future event planning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c3" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Unified Event History</h5>
                            <p class="card-text">Access a comprehensive record of upcoming and past events. View event
                                details, attendance records, and registration information for past events, providing
                                valuable insights for future event planning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c3" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Enhanced Collaboration and Engagement</h5>
                            <p class="card-text">Foster a vibrant campus community by facilitating event participation and
                                collaboration. Our platform enables students to discover events aligned with their
                                interests, connect with peers, and engage in extracurricular activities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xlg-6" style="position:relative; top: 100px;">
                    <div class="card text-center h-100 hidden c4" style="background-color: #32333a">
                        <div class="card-body">
                            <h5>Optimize Your University's Event Management</h5>
                            <p class="card-text">Our cloud-based platform simplifies event management, enhances student
                                engagement, and empowers faculty to organize impactful events that contribute to a vibrant
                                campus life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
        
</body>

</html>