@import "_var";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    li,
    a,
    button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: $offwhite;
        text-decoration: none;

    }

    h1 {
        color: $offwhite;

    }

}

.nav__links {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
        }
    }
}

.nav__links_home {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
        }
    }
}

.nav__links li a:hover {
    color: $teal;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $offwhite;
    text-decoration: none;
    padding: 9px 25px;
    background-color: $offteal;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.ext_btn {
    border-radius: 10px;
    width: 100%;
 }

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    display: none;
    position: relative;
    top: 0px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    display: none;
    position: fixed;
    background: rgba(65, 66, 66, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    z-index: 1;
    top: 0;
    right: -100%;
    width: 300px;
    height: 40%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    //background-color: #414242;
    transition-duration: .25s;
}

.menu__item {
    display: block;
    display: none;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: $charcoal;
}


@media screen and (max-width: 963px) {

    .nav__links,
    .cta {
        display: none;
    }

    .nav__links_home,
    .toggle_btn3 {
        display: block;

    }

    .menu__btn,
    .menu__item,
    .menu__box {
        display: block;

    }
}
